.Footer
    background-repeat: no-repeat
    background-size: 100%
    background-color: black

    .ItemList
        displayFlex()

        li
            &:first-child
                margin: 4rem 2rem
                width: 20rem

                img
                    width: 100%

            &:last-child
                flex(5)
                margin: 8rem 2rem
                text-align: right
