.Home

    .home-intro
        background-color: #565658
        color: white
        padding: 2rem
        text-align: center

        >div
            &:first-child
                font-size: 2rem
                margin-bottom: 1rem
                text-transform: uppercase

    .home-event
        background-repeat: no-repeat
        background-size: 100%
        background-color: black
        background-opacity: 0.1
